.bg-dark-navy {
    background-color: #031b28;
}

.bg-navy {
    background-color: #0B2838;
}

.bg-light-navy {
    background-color: #083248;
}

.bg-red {
    background-color: #8C0E0F;
}

.bg-gold-1 {
    background-color: #e89c31;
}

.bg-gold-2 {
    background-color: #DBA858;
}

.navy {
    color: #0B2838;
}

.light-navy {
    color: #083248;
}

.red {
    color: #8C0E0F;
}

.gold-1 {
    color: #E89C31;
}

.gold-2 {
    color: #DBA858;
}
