.map-container {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;

}

.map-container iframe {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.map-events a {
    text-decoration: none;
}

.map-events a:hover {
    text-decoration: underline;
}
footer {
    position: absolute;
    bottom: 0;
}