@import url("color-presets.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #031b28;
}

.navbar-logo {
    width:50px;
}
.footer {
    border-top: 2px solid #e89c31 !important;
}
