@model IEnumerable<MapServiceModel>

<h1 class="gold-2 ">@ViewData["Title"]</h1>

<section class="all-maps row mb-5">
    @foreach (var map in Model)
    {
        <div class="col-sm-6 col-md-4 mt-5">
            <div class="card text-center bg-light-navy">
                <iframe src="https://www.google.com/maps/embed/v1/directions?origin=@map.StartLongitude,@map.SartLatitude&destination=@map.FinishLongitude,@map.FinishLatitude&zoom=12&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
                </iframe>
                <div class="card-body">
                    <h5 class="card-title text-light">@map.Name</h5>
                    <hr>
                    <p>
                        <a class="btn btn-primary" role="button">
                            <i class="fas fa-map-signs"></i> Details
                        </a>
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col">
                            <a><i class="btn fas fa-pencil-alt gold-1"></i></a>
                        </div>
                        <div class="col">
                            <a><i class="btn fas fa-trash red"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>


